<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160336753795-3t4erl3sg0lb49b97fg2m8ejrhhu1tn7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160336753795-3t4erl3sg0lb49b97fg2m8ejrhhu1tn7</string>
	<key>API_KEY</key>
	<string>AIzaSyD3hJKx0N6M15JIgNjVi1qrGo8ni5K2sjc</string>
	<key>GCM_SENDER_ID</key>
	<string>160336753795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>artemiy.CafeMap</string>
	<key>PROJECT_ID</key>
	<string>cafemap-a6b7a</string>
	<key>STORAGE_BUCKET</key>
	<string>cafemap-a6b7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160336753795:ios:7f73bc5e5fab1be2fbd7b6</string>
</dict>
</plist>